<section class="about">
  <div class="container">
    <img
      src="../img/about-flower.jpg"
      alt="рожево біла квітка"
      width="635"
      height="725"
    />
    <h2 class="title">Про нас</h2>
    <p class="text">
      Наша студія – це те місце, де ми постійно працюємо, вчимося, творимо і
      розвиваємося. Ви завжди тут бажаний гість! Ми прості і природні, але зі
      своїм сильним характером і особливим ставленням до природи і особистості.
      Нас об’єднує любов до квітів і творчості, бажання займатися улюбленою
      справою, розвиватися і нести в світ найкраще. Мета всієї команди студії і
      її творців – природньо і витончено висловлювати за допомогою квітів
      найтепліші почуття між людьми.
    </p>
  </div>
</section>
