<section id="delivery" class="delivery">
  <div class="container"><h2 class="title">Доставка</h2></div>
  <div class="bg">
    <div class="bg-img">
      <div class="container">
        <div class="wrap">
          <p class="text">
            При розміщенні замовлення, хочемо звернути вашу увагу, що в
            залежності від сезонності і інших чинників квіти не завжди
            виглядають однаково і можуть бути в наявності. Адже це живий
            організм, кожна окремо взята квітка одного і того ж сорту
            відрізняється від іншої.
          </p>
          <p class="text">
            Виходячи з цього, замовлений Вами букет може трохи відрізнятися від
            того що представлений на фотографії, деякі квіти можуть бути
            заміщені іншими, такими ж за рівнем або вище, загальний стиль,
            колірна гамма збережуться, і головне, що загальне враження від
            букета залишиться.
          </p>
        </div>
        <strong class="text-accent"
          >БЕЗКОШТОВНА ДОСТАВКА ВІД <span>4000₴.</span></strong
        >
        <ul class="menu">
          <li>Доставка курьєром в Харкові: 300₴</li>
          <li>Термінова доставка +500₴</li>
          <li>В інші міста доставки немає</li>
        </ul>
        <p class="desc">
          *Можливо Ви б хотіли обговорити нюанси на замовлення, будь ласка,
          зателефонуйте нам за номером
          <a href="tel:+380688115511">+38 (068) 811-55-11</a> і ми відповімо на
          всі Ваші запитання.
        </p>
      </div>
    </div>
  </div>
</section>
