<section id="examples" class="examples">
  <div class="container"><h2 class="title">Букети</h2></div>
  <div class="wrap">
    <div class="container">
      <ul class="list">
        <li class="item">
          <img src="./img/bouquet-158.jpg" alt="букет квітів номер 158" />
          <p class="text major">Букет № 158</p>
          <p class="text minor">1,673 ₴</p>
        </li>
        <li class="item">
          <img src="./img/bouquet-179.jpg" alt="букет квітів номер 179" />
          <p class="text major">Букет № 179</p>
          <p class="text minor">1,252 ₴</p>
        </li>
        <li class="item">
          <img src="./img/bouquet-194.jpg" alt="букет квітів номер 194" />
          <p class="text major">Букет № 194</p>
          <p class="text minor">1,756 ₴</p>
        </li>
        <li class="item">
          <img src="./img/bouquet-182.jpg" alt="букет квітів номер 182" />
          <p class="text major">Букет № 182</p>
          <p class="text minor">2,770 ₴</p>
        </li>
      </ul>
    </div>
  </div>
</section>
