<footer>
  <ul>
    <li><a href="">Flower</a></li>
    <li><a href="">Про нас</a></li>
    <li><a href="">Букети</a></li>
    <li><a href="">Доставка</a></li>
    <li><a href="">Відгуки</a></li>
  </ul>
  <h2>Доставка букетів на замовлення від магазину</h2>
  <a href="">Залишити заявку</a>
  <address>
    Контакти: Харків, вул.М.Драгомирова, 21 <br />
    ЖК Leonardo Town <br />
    <p>Телефон: <a href="tel:+380688715911">+38 (068) 871-59-11</a></p>
    <p>
      Email:
      <a href="mailto:myliza.florist@gmail.com">myliza.florist@gmail.com</a>
    </p>
  </address>
  <p>Соціальні мережі:</p>
  <ul>
    <li>facebook</li>
    <li>instagram</li>
  </ul>
</footer>
