<footer id="contacts" class="footer">
  <div class="container">
    <ul class="navigation">
      <li>
        <a href="../index.html">
          <svg width="88" height="40">
            <use href="../img/symbol-defs.svg#icon-logo"></use>
          </svg>
        </a>
      </li>
      <li><a href="#about">Про нас</a></li>
      <li><a href="#examples">Букети</a></li>
      <li><a href="#delivery">Доставка</a></li>
      <li><a href="#reviews">Відгуки</a></li>
    </ul>
    <div class="center">
      <h2 class="headline">Доставка букетів на замовлення від магазину</h2>
      <button class="btn" type="button">Залишити заявку</button>
    </div>
    <div class="wrap">
      <p class="text">Контакти:</p>
      <address>
        Харків, вул.М.Драгомирова, 21 <br />
        ЖК Leonardo Town <br />
        Телефон: <a href="tel:+380688715911">+38 (068) 871-59-11</a> <br />
        Email:
        <a href="mailto:myliza.florist@gmail.com">myliza.florist@gmail.com</a>
      </address>
      <p class="text">Соціальні мережі:</p>
      <ul class="social">
        <li>
          <a class="social-link" href="">
            <svg width="34" height="34">
              <use href="../img/symbol-defs.svg#icon-meta"></use>
            </svg>
          </a>
        </li>
        <li>
          <a class="social-link" href="">
            <svg width="34" height="34">
              <use href="../img/symbol-defs.svg#icon-inst"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
