<header class="header">
  <nav class="container">
    <a class="logo" href="./index.html">
      <svg class="logo-icon" width="102" height="39">
        <use href="./img/symbol-defs.svg#icon-logo"></use>
      </svg>
    </a>
    <div class="wrap">
      <ul class="menu">
        <li><a class="link" href="#about">Про нас</a></li>
        <li><a class="link" href="#examples">Букети</a></li>
        <li><a class="link" href="#delivery">Доставка</a></li>
        <li><a class="link" href="#reviews">Відгуки</a></li>
        <li><a class="link" href="#contacts">Контакти</a></li>
      </ul>
      <button type="button" class="btn">Залишити заявку</button>
    </div>
  </nav>
</header>
