<section class="reviews">
  <div id="reviews" class="container">
    <h2 class="title">Відгуки</h2>
    <ul class="slider">
      <li>
        <img
          src="./img/review-Hanna-1.jpg"
          alt="Ганна тримає червоний букет в білій обгортці із зеленою стрічкою"
          width="255"
          height="358"
        />
        <div class="wrap">
          <p class="text">
            “Гарний букет за приємною ціною. З оформленням продавець старався.
            Зі складнощами у вигляді обмежень за часом чудово впорався.” Ганна
          </p>
          <p class="name">Ганна</p>
        </div>
      </li>
      <li>
        <img
          src="./img/review-Petro-1.jpg"
          alt="Петро тримає червоно-зелений букет в білій обгортці із червоною стрічкою"
          width="255"
          height="358"
        />
        <div class="wrap">
          <p class="text">
            “Сподобалось ненав‘язливе обслуговування. Ніяких докучливих дзвінків
            як на інших сайтах. Все дуже швидко та якісно.” Петро
          </p>
          <p class="name">Петро</p>
        </div>
      </li>
      <li>
        <img
          src="./img/review-Oksana-1.jpg"
          alt="Оксана тримає рожевий букет в білій обгортці із рожевою стрічкою"
          width="255"
          height="358"
        />
        <div class="wrap">
          <p class="text">
            “Перший раз спробувала замовити квіти через інтернет-магазин, довго
            вибирала, і в результаті, дуже задоволена, якістю квітів,
            обслуговуванням, доставкою.” Оксана
          </p>
          <p class="name">Оксана</p>
        </div>
      </li>
      <li>
        <img
          src="./img/review-Olena-1.jpg"
          alt="Олена тримає рожево-білий букет в білій обгортці із рожевою стрічкою"
          width="255"
          height="358"
        />
        <div class="wrap">
          <p class="text">
            “Замовлення було оброблено дуже швидко. Квіти були свіжі, доставка
            вчасна. Вважаю, що сервіс чудовий. Дякую.”
          </p>
          <p class="name">Олена</p>
        </div>
      </li>
    </ul>
  </div>
</section>
