<section>
  <h2>Відгуки</h2>
  <ul>
    <li>
      <img src="" alt="" />
      <p>
        “Гарний букет за приємною ціною. З оформленням продавець старався. Зі
        складнощами у вигляді обмежень за часом чудово впорався.” Ганна
      </p>
      <p>Ганна</p>
    </li>
    <li>
      <img src="" alt="" />
      <p>
        “Сподобалось ненав‘язливе обслуговування. Ніяких докучливих дзвінків як
        на інших сайтах. Все дуже швидко та якісно.” Петро
      </p>
      <p>Петро</p>
    </li>
    <li>
      <img src="" alt="" />
      <p>
        “Перший раз спробувала замовити квіти через інтернет-магазин, довго
        вибирала, і в результаті, дуже задоволена, якістю квітів,
        обслуговуванням, доставкою.” Оксана
      </p>
      <p>Оксана</p>
    </li>
    <li>
      <img src="" alt="" />
      <p>
        “Замовлення було оброблено дуже швидко. Квіти були свіжі, доставка
        вчасна. Вважаю, що сервіс чудовий. Дякую.”
      </p>
      <p>Олена</p>
    </li>
  </ul>
</section>
