.about {
  padding: 120px 0;
  max-width: 1460px;
  margin: 0 auto;

  background: var(--section-second-bg) url(../img/about-bg.jpg) no-repeat center;
  background-size: cover;
}

.about > .bg {
  background-color: var(--section-second-bg);
}

.about .container {
  display: flex;
  gap: 30px;
  align-items: center;
  position: relative;
}

.about img {
  position: relative;
  z-index: 2;
}

.about .container::after {
  position: absolute;
  z-index: 1;
  top: 54px;
  left: 533px;
  content: '';
  display: block;
  width: 620px;
  height: 620px;
  border-radius: 50%;
  background-color: var(--title-bg);
}

.about .wrap {
  position: relative;
  z-index: 2;
}

.about .headline {
  display: inline-block;
  margin-bottom: 8px;

  color: var(--basic);
  text-shadow: var(--text-shadow);
  font-family: Montserrat;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.about .text {
  width: 443px;

  color: var(--main);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
