.about {
  padding: 120px 0;
}

.about > .bg {
  background-color: var(--section-second-bg);
}

.about .container {
  display: flex;
  gap: 30px;
  align-items: center;
}

.about .headline {
  display: inline-block;
  margin-bottom: 8px;

  color: var(--basic);
  background-color: var(--main);
  text-shadow: var(--text-shadow);
  font-family: Montserrat;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.about .text {
  width: 443px;

  color: var(--main);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
