.delivery {
  background-color: var(--section-bg);
}

.delivery .bg {
  background-color: #fff;
}

.delivery .bg-img {
  max-width: 1460px;
  margin: 0 auto;
  background-image: url(../img/about-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.delivery .bg .container {
  padding: 120px 0;
  background-color: var(--section-second-bg);
}

.delivery .wrap {
  display: flex;
  gap: 34px;
  margin-bottom: 16px;
}

.delivery .text {
  flex-basis: calc((100% - 34px) / 2);
}

.delivery .text:first-child {
  padding-left: 57px;
}

.delivery .text:last-child {
  padding-right: 57px;
}

.text {
  color: var(--main);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text-accent {
  margin-bottom: 36px;
  display: block;
  text-align: center;
  color: var(--main);
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text-accent span {
  font-weight: 700;
}

.delivery .menu {
  margin-bottom: 36px;
  display: flex;
  gap: 52px;
  justify-content: center;
}

.delivery .menu li {
  width: 179px;
  padding: 24px 24px;
  border-radius: 25px;
  background-color: var(--accent);
  color: var(--basic);
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.delivery .desc {
  max-width: 580px;
  margin: 0 auto;
  color: var(--main);
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.delivery .desc a {
  text-decoration: underline;

  transition: color var(--transition);
}

.delivery .desc a:hover,
.delivery .desc a:focus {
  color: var(--accent);
}
