/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./about.css');
@import url('./delivery.css');
@import url('./examples.css');
@import url('./footer.css');
@import url('./hero.css');
@import url('./request.css');
@import url('./reviews.css');
@import url('./styles.css');

:root {
  --basic: #ffffff;
  --accent: #0c00f1;
  --scondary: #fff9f9;
  --main: #000000;
}

body {
}

a {
  text-decoration: none;
}

.container {
  width: 1110px;
  padding: 0 15px;
  margin: 0 auto;
}
