/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./about.css');
@import url('./delivery.css');
@import url('./examples.css');
@import url('./footer.css');
@import url('./hero.css');
@import url('./request.css');
@import url('./reviews.css');
@import url('./styles.css');

:root {
  --basic: #ffffff;
  --accent: #0c00f1;
  --secondary: #fff9f9;
  --main: #000000;
  --logo: #e99fb7;

  --section-bg: rgba(12, 0, 241, 0.55);
  --section-second-bg: rgba(233, 159, 183, 0.35);
  --text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --accent-opacity: rgba(12, 0, 241, 0.85);
  --title-bg: rgba(183, 105, 105, 0.25);

  --transition: 300ms ease-in;
}

a {
  text-decoration: none;
}

.container {
  width: 1110px;
  padding: 0 15px;
  margin: 0 auto;
}
